/*
  title: base css
*/


/* =global elements
--------------------------------------------- */
body {
  color: #f8f8ff;
  font: 14px/1.5em "Lucida Grande", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 810px;
  margin: 0px;
  background:  url("../images/bg_tecido_alaranjado.jpg");
  overflow: hidden;
}

a:link, a:visited {
  color: #3b5998;
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

h1 {
  color: #656565;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

/* ------------------------------------------ */

/* =header
--------------------------------------------- */
header {
  font-size: 15px;
  padding: 0;
  background: url('../images/bg_header.png') top left no-repeat;
  height: 214px
}

header .logo {
    margin-top: 10px;
    margin-left: 40px;
}

header h1 {
  margin: 0 0 9px;
  padding: 2px 0 0px;
  vertical-align: 80%;
  margin-left: 100px;
  display: inline-block;
}

/* ------------------------------------------ */

/* Escuelas
--------------------------------------------- */
h1 {
    font-size: 2em;
    line-height: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #f8f8ff;
}

.school {
    margin:50px 115px;
}

.school_left {
  width:350px;
  display:inline-block;
}
.school_right {
  display: inline-block;
  width: 225px;
  vertical-align: top;
}
.school_image {
    height: 150px;
    width: 318px;
}

.school h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: bold;
}

.school h2 a {
    color: #f8f8ff;
}

.ir.maps {
  background-image: url("../images/maps.png");
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
}

.social {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.facebook {
    background-image: url("../images/facebook.png");
}

.twitter {
    background-image: url("../images/twitter.png");
}

.foursquare {
    background-image: url("../images/foursquare.png");
}

.site {
    background-image: url("../images/rss.png");
}

.ir {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

/* ------------------------------------------ */

/* =clearfix
--------------------------------------------- */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}
